<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        {{ pageTitle }}
      </div>
      <div class="card-body">
        @if (products.length) {
        <div class="list-group">
          @for (product of products; track product.id) {
          <button
            type="button"
            class="list-group-item"
            [ngClass]="{ active: product.id === selectedProductId }"
            (click)="onSelected(product.id)"
          ></button>
          }
        </div>
        }
      </div>
    </div>
    @if (errorMessage) {
    <div class="alert alert-danger">
      {{ errorMessage }}
    </div>
    }
  </div>
  <div class="col-md-8">
    <pm-product-detail [productId]="selectedProductId" />
  </div>
</div>
