/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap.scss";

dic.card-header {
  font-size: large;
}

div.card {
  margin-top: 20px;
  margin-left: 10px;
}
