<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img
          src="https://avatars.githubusercontent.com/u/100465576"
          class="img-responsive center-block"
          style="max-height: 300px; padding-bottom: 50px"
        />
      </div>
      <div class="text-center">Built by:</div>
      <div class="text-center">
        <h3>Jaddie Lorzano</h3>
      </div>
      <div class="text-center">Inspired by:</div>
      <div class="text-center">
        <h4></h4>
      </div>
      <div class="text-center">
        <h4>
          <a
            href="https://app.pluralsight.com/library/courses/rxjs-angular-signals-fundamentals/table-of-contents"
            target="_blank"
          >
            RxJS and Angular Signals Fundamentals</a
          >
          by Deborah Kurata
        </h4>
      </div>
      <div class="text-center">
        <a href="https://github.com/jaddie-lorzano" target="_blank"
          >Github Profile</a
        >
      </div>
    </div>
  </div>
</div>
